<article class="tile" itemscope itemtype="http://schema.org/Article">
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-teaser">
    {% if post.image.teaser %}
        <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser" itemprop="image" style="width:250px; height:200px;">
    {% else %}
        <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">{% endif %}</a>
    <!-- {% if post.date %}
        <p class="entry-date date published">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
                {{ post.date | date: "%B %d, %Y" }}
            </time>
        </p>
    {% endif %} -->
    <h2 class="post-title" itemprop="name" style="width: 220px; text-align:left; margin-bottom: -0.5em;">
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="post-excerpt" itemprop="description" style="width: 220px; text-align:left;">
        {{ post.excerpt | strip_html | truncate: 160 }}
    </p>
</article><!-- /.tile -->
