<div class="inline-btn">
	<a class="btn-social facebook" href="https://github.com/gbarnier" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
	<a class="btn-social youtube" href="https://www.youtube.com/channel/UCjloQO0H6JnddXoB017mcog" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube Channel</a>
	<a class="btn-social linkedin" href="https://www.linkedin.com/in/guillaume-barnier" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
	<a class="btn-social email"  href="mailto:gbarnier@stanford.edu" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> gbarnier@stanford.edu</a>
</div>
